@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    /* text colors */
    --text-main: #333333;
    --text-main-light: #4d4d4d;
    --text-muted: #a9a9a9;

    /* background colors */
    --bg-page: #f5f5f5;
    --bg-section: #d3d3d3;
    --bg-header: #708090;

    /* hover colors */
    --hover-color: #ffffff;
    --hover-bg: #a9a9a9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-snap-type: y proximity;
}

body {
    background-color: var(--bg-page);
    color: var(--text-main);
    height: 100%;
}

html, body {
  overflow-x: hidden;
}

section {
    padding-top: 80px;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--bg-section);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
    scroll-snap-align: start
}

/* header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    background: var(--bg-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    height: 60px;
}

.logo {
    font-size: 25px;
    color: var(--text-main);
    text-decoration: none;
    font-weight: 700;
}

nav {
    display: flex;
    gap: 1.2rem;
}

nav a {
    font-size: 18px;
    text-decoration: none;
    color: var(--text-main);
    font-weight: 400;
    transition: 0.3s;
}

nav a:hover {
    color: var(--hover-color);
}

.menu-icons {
    display: none;
    gap: 1rem;
}

.material-symbols-outlined {
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
    color: var(--text-main);
}

.curtain-nav {
    height: 0;
    width: 100%; 
    position: fixed;
    z-index: 2000; 
    top: 0;
    left: 0;
    background-color: var(--bg-header);
    overflow: hidden;
    transition: height 0.5s ease;
}

.curtain-nav .closebtn {
    position: absolute;
    top: 20px;
    right: 35px;
    font-size: 2.5rem;
    text-decoration: none;
    color: var(--text-main);
    cursor: pointer;
}

.curtain-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.curtain-content a {
    padding: 10px;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-main);
    display: block;
    transition: 0.3s;
}

.curtain-content a:hover {
    color: var(--hover-color);
}

.desktop-nav {
    display: flex;
    gap: 1.5rem;
}

@media (max-width: 768px) {
    .desktop-nav {
        display: none;
    }

    .menu-icons {
        display: block;
    }
}

/* hero section */
.hero {
    text-align: center;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    background-image: url(bg-1.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    max-width: 900px;
    width: 100%;
    padding: 0 20px;
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 20px;
}

#home-intro {
    font-size: 1.1rem;
    line-height: 1.6;
    max-width: 750px;
    margin: 0 auto;
}

.blue-gradient-text {
    background: linear-gradient(90deg, #a0d8ff, #4facfe, #2a5298, #1e3c72);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.blue-gradient-text {
    background-size: 200% auto;
    animation: blue-fade 3s ease-in-out infinite;
}

@keyframes blue-fade {
    0% { background-position: 0% center; }
    100% { background-position: 100% center; }
}


@media (max-width: 768px) {
    h1 {
        font-size: 1.7rem;
        margin-top: 50px;
    }
}

/* floating title */
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
    transform: translateX(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}

.hero h1 {
  animation: float 3s ease-in-out infinite;
}

.hero p {
  animation: float 5s ease-in-out infinite;
}

/* about section */
.about-section {
    padding: 60px 20px;
    background-color: var(--bg-page);
    width: 100%;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
    padding: 3rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
    box-sizing: border-box;
    max-width: 830px;
}

.column {
    flex: 1 1 280px;
    padding: 2rem;
    background-color: #E0E0E0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
    margin-top: 1px;
}

.bottom {
    height: auto;
    background-color: #ccc;
}

.column:hover {
    transform: translateY(-5px);
}

.column.full-width {
    flex: 1 1 100%;
    text-align: center;
    background-color: transparent;
    box-shadow: none;
    padding-bottom: 30px;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--border-color);
}

.column.full-width p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1rem;
    color: var(--text-main);
    line-height: 1.6;
}

.section-title {
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--text-main-light);
    margin-top: 0;
    padding-top: 0;
}

h2 {
    margin-bottom: 1rem;
    color: var(--text-main-light);
    font-size: 1.2rem;
}

h3 {
    margin-bottom: 1rem;
    color: var(--text-main-light);
    font-size: 1rem;
}

p {
    line-height: 1.6;
    font-size: 0.8rem;
    color: var(--text-main);
    margin: 0.5rem 0;
}

ul {
    padding-left: 1.2rem;
    list-style-type: disc;
}

.column.bottom li {
    margin-top: 0.5rem;
    color: var(--text-main);
    font-size: 0.8rem;
    line-height: 1.2;
}

.btn {
    display: inline-block;
    margin-top: 0.5rem;
    padding: 0.72rem 1.5rem;
    background-color: var(--bg-header);
    color: var(--text-main);
    border: none;
    border-radius: 6px;
    font-size: 0.8rem;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
    max-width: max-content;
}

.btn:hover {
    background-color: var(--hover-bg);
    color: var(--text-main);
}

@media (max-width: 768px) {
    .column.full-width {
        flex-direction: column;
        align-items: stretch;
    }

    .column.bottom {
        max-width: 100%;
    }
    
    .column p {
        font-size: 0.8rem;
    }

    .column.full-width p {
        font-size: 0.8rem;
    }

    li {
        font-size: 0.8rem;
    }

    h3 {
        font-size: 1rem;
    }

    .section-title {
        font-size: 1rem;
    }

    .btn {
        font-size: 0.85rem;
    }

    .about-container.container {
        width: 100%;
        padding: 0;
    }
}

/* services Section */
.services-section {
  background-color: #e0e0e0;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  scroll-margin-top: 30px;
}

.services-section h2 {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 20px;
}

.services-section p {
  font-size: 1rem;
  color: #555;
  max-width: 700px;
  margin-bottom: 60px;
  line-height: 1.6;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  width: 100%;
  max-width: 1200px;
}

.box {
  background: #fff;
  border-radius: 16px;
  padding: 10px 25px;
  flex: 1 1 300px;
  max-width: 360px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 30px;
  color: #5c5c5c;
  margin: 20px 0;
}

.details h3 {
  font-size: 1rem;
  color: #222;
  margin-bottom: 10px;
  text-align: left;
}

.details p {
  font-size: 0.9rem;
  color: #555;
  line-height: 1.5;
  text-align: left;
}

@media (max-width: 768px) {
  .services-section {
    padding: 60px 15px;
  }

  .services-section h2 {
    font-size: 1.1rem;
  }

  .services-section p {
    font-size: 0.9rem;
  }

  .box {
    max-width: 100%;
  }

  .details h3 {
    font-size: 1rem;
  }
}

/* portraiture section */
.gallery {
    background-color: var(--bg-page);
}

#portraiture.gallery {
    display:inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 90px 20px;
    box-sizing: border-box;
    overflow: hidden;
}

.gallery-title {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery-title h2 {
    font-size: 1.2rem;
    color: var(--text-main-light);
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.gallery-title p {
    font-size: 1rem;
    color: var(--text-main);
}

.sunset-quote {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 50px;
}

.slideshow-container {
    max-width: 800px;
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    height: 350px;
    border-radius: 6px;
    margin-bottom: 20px;
    background-color: var(--text-main-light);
}

.fullscreen-btn {
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 20;
    /*background: rgba(0, 0, 0, 0.5);*/
    background: transparent;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 6px 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.fullscreen-btn:hover {
    background: rgba(0, 0, 0, 0.5);
}

.mySlides {
    display: none;
    position: relative;
    width: 100%;
    height: 100%;
}

.mySlides img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
    border-radius: 5px;
}

.text {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text-main);
    font-size: 16px;
    background: rgba(255, 255, 255, 0.7);
    padding: 6px 12px;
    border-radius: 4px;
    text-align: center;
    width: auto;
    max-width: 90%;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 12px 20px;
    z-index: 10;
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: 0.4; }
    to { opacity: 1; }
}

@media (max-width: 768px) {
    #portraiture.gallery {
        display: inline-block;
    }

    .gallery-title {
        margin-bottom: 50px;
        /*padding-bottom: 10px;*/
    }

    .gallery-title h2 {
        font-size: 1rem;
    }

    .gallery-title p {
        font-size: 0.85rem;
    }

    .slideshow-container {
        height: 300px;
        margin-top: 0;
        width: 100%;
    }

    .mySlides img {
        object-fit: contain;
    }

    .text {
        font-size: 14px;
        bottom: 10px;
        padding: 4px 10px;
    }

    .prev, .next {
        font-size: 18px;
        padding: 8px 12px;
    }
}

/* blog section */
#blog {
    background-color: #4d4d4d;
}

.blog-section {
    padding: 60px 20px;
    scroll-margin-top: 100px;
}
  
.blog-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.blog-post-containter {
    max-width: 800px;
}

.blog-title {
    text-align: center;
    margin-bottom: 5rem;
    transition: transform 0.3s ease;
}

.blog-title:hover {
    transform: translateY(-5px);
}

.blog-title h2 {
    font-size: 1.2rem;
    color: #f5f5f5;
    margin-top: 1.2rem;
    font-weight: 500;
}

.blog-title p {
    font-size: 0.9rem;
    color: lightgray;
}

.blog-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.blog-card {
    background-color: #f5f5f5;
    padding: 2rem;
    border-radius: 12px;
    flex: 1 1 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease;
}

.blog-card h3 {
    font-size: 1rem;
    color: var(--text-main-light);
    margin-bottom: 0.5rem;
}

.blog-card p {
    font-size: 0.8rem;
    color: var(--text-main);
    margin-bottom: 1rem;
}

.blog-card:hover {
    transform: translateY(-5px);
}

.blog-card .btn {
    background-color: #888;
}

.blog-card .btn:hover {
    background-color: #666;
}

.blog-snippet {
    font-size: 0.8rem;
    color: var(--text-main);
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .blog-title h2 {
        font-size: 1rem;
    }

    .blog-title p {
        font-size: 0.8rem;
    }

    .blog-card h3 {
        font-size: 0.8rem;
    }

    .blog-card p {
        font-size: 0.7rem;
    }

    .blog-card.engineering {
        margin-bottom: 30px;
    }
}

/* blog posts page */
.blog-post {
  background-color: #4d4d4d;
  color: lightgray;
  padding: 60px 20px;
}

.blog-post-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
}

.blog-post-container h1 {
  font-size: 3rem;
  margin-bottom: 0.5rem;
  color: #eee;
}

.engineering {
    margin-bottom: 0;
}

.dates-container {
    display: flex;
    justify-content: space-between;
}

#date {
  font-size: 0.8rem;
  color: #ccc;
  margin-bottom: 2rem;
}

.blog-post-container article {
  line-height: 1.8;
  color: lightgray;
}

.blog-post-container h2 {
  font-size: 1.4rem;
  color: #eee;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-left: 4px solid #333333;
  padding-left: 10px;
}

.blog-post-container p {
  font-size: 0.9rem;
  margin-bottom: 1.2rem;
  color: #eee;
}

article p {
    color: #ccc;
    font-size: 0.9rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 1.5rem 0;
  font-size: 0.95rem;
  background-color: #5c5c5c;
  border-radius: 5px;
  overflow: hidden;
}

th, td {
  border: 1px solid #888;
  padding: 10px;
  text-align: left;
}

th {
  background-color: #666;
  color: #fff;
  font-weight: 600;
}

td {
  color: #eee;
}

ol {
  padding-left: 1.5rem;
  margin-bottom: 1.5rem;
}

ol li {
  margin-bottom: 0.8rem;
}

li {
    color: #fff;
    font-size: 1rem;
}

.blog-post .btn {
    background-color: #888;
}

.blog-post .btn:hover {
    background-color: #999;
}

@media (max-width: 768px) {
  .blog-post-container {
    padding: 0 0.5rem;
  }

  .blog-post-container h1 {
    font-size: 1.6rem;
  }

  .blog-post-container h2 {
    font-size: 1.2rem;
  }

  table {
    font-size: 0.85rem;
  }
}

/* contact section */
.contact-section {
    padding: 30px 20px;
    max-width: 1200px;
    margin: auto;
    height: auto;
    background-color: var(--bg-page);
}

.contact-title {
    width: 800px;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
    border-radius: 6px;
}

.contact-title h2 {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.2rem;
    color: var(--text-main-light);
    margin-bottom: 1.5rem;
}

.contact-title p {
    font-size: 1rem;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
    border-top: 0;
    gap: 1rem;
    justify-content: center;
    border-radius: 6px;
}

.contact-left {
    padding-left: 1.5rem;
    padding-top: .5rem;
    padding-bottom: 1.6rem;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    transition: transform 0.3s ease;
}

.contact-left:hover {
    transform: translateY(-5px);
}

.contact-left p {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    color: var(--text-main-light);
}

.form-title h3 {
    margin-bottom: 1rem;
    color: var(--text-main-light);
}

input[type=text], textarea {
    resize: none;
}

.contact-form input,
.contact-form textarea {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 0.9rem;
}

.contact-right {
    padding-left: 30px;
    flex: 1;
    min-width: 300px;
}

.contact-right p {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: var(--text-main-light);
}

.contact-right h3 {
    font-size: 1.1rem;
}

.social-icons h3 {
    margin-top: 30px;
    font-size: 1.1rem;
}

.social-icons ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 30px;
}

.social-icons ul li {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--text-muted);
    transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons ul li i {
    color: var(--text-main-light);
}

.social-icons ul li:hover {
    color: var(--hover-color);
    transform: scale(1.2);
}

.fa-solid {
    font-size: 12px;
}

.contact-right span {
    margin-left: 15px;
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        padding-bottom: 30px;
        width: 500px;
    }

    .contact-title h2 {
        margin-bottom: 2rem;
    }

    .contact-left {
        padding-right: 30px;
        width: auto;
        margin: 0 auto;
    }

    .contact-right {
        margin-top: 20px;
    }

    .contact-left,
    .contact-right {
        max-width: 90%;
        text-align: center;
    }

    .social-icons ul{
        display: flex;
        justify-content: center;
    }

    .footer-content ul li a {
        font-size: 0.6rem;
    }

    .contact-title p {
        font-size: 0.9rem;
        margin-bottom: 30px;
    }

    .contact-title {
        width: 80%;
        padding-bottom: 10px;
    }
}

/* footer */ 
footer {
    background-color: var(--text-main);
    padding: 5px 10px 0;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0;
}

.bottom-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bottom-bar p{
    width: 100%;
    text-align: center;
    color: var(--text-muted);
    font-size: 0.8rem;
}

.bottom-bar a {
    padding-top: 10px;
    text-decoration: none;
    color: var(--text-muted);
    font-size: 0.9rem;
}

.bottom-bar a:hover {
    color: #ccc;
}





